
/*
VARIABLES
================================================ */
:root {
    /* --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    --white: #fff; */
    /* --oswald-font: 'Oswald', sans-serif; */
    --opensans-font: 'Open Sans', sans-serif;
}


/*
HERO
================================================ */

#hero {
    height: 100vh;
    position: relative;
}

#hero::after {
    content: '';
    width: 100%;
    height: 100vh;
    background: url('../image/hero2.png') no-repeat center / cover;
    position: absolute;
    inset: 0;
}

#hero .title {
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    font-size: max(5vw, 3rem);
    font-weight: 600;
}

/*
WORKS ABOUT CONTACT
================================================ */

.index{
    height: 100vh;
    font-size: 2rem;
    font-weight: 600;
}

/*
FOOTER
================================================ */

footer {
    text-align: center;
}